a.text-light {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

a.text-light:hover {
    border-bottom: 1px solid #ff5a60;
}