.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
 }

 img {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.489);
 }
 