

.signupForm {
    width: 500px;
    margin: 20px ;
    padding: 20px;
    border : 1px solid red;
    border-radius: 15px;
    background-color: #ff5a60;
}

.signupForm div{
    margin-bottom: 10px;
}

.signupForm label{
    display: inline-block;
    width: 150px;
    font-weight: bold;
}
.signupForm input{
    width: 300px;
    padding: 5px;
    margin-left: 10px;
}

/* I missed you */